@model List<Affinity.Models.Task>
@{
    ViewBag.Title = "ViewAllTasks";
}

<h2>Developer DashBoard</h2>



@if (Model.Count != 0)
{
    <ul style="        display: inline-block;
        border: 1px solid #dc6a6a;
        background-color: #dc6a6a"
    >
        @foreach (var task in Model)
        {
            if (task.Notifications.Count != 0)
            {
                foreach (var notif in task.Notifications)
                {
                    <li style="list-style:none">
                        @Html.ActionLink(notif.NotificationDetails ,"MarkNotificationAsWatched", new { notificationId = notif.Id })
                    </li>
                }
            }
        }
    </ul>

    <h4>Here are all your tasks.</h4>
    <h5>Sort by Priority: @Html.ActionLink("High to Low", "Index", new { sortingOrder = "HighToLow" }, null)  | @Html.ActionLink("Low to High", "Index", new { sortingOrder = "LowToHigh" }, null)  </h5>

    <ul>
        @foreach (var task in Model)
        {
            <li>
                @task.Name -- @task.CompletedPercentage % -- @task.Time -- @Html.ActionLink("Update Task Percentage", "UpdateTaskPercentage", "Developer", new { id = task.Id }, null) -- @if (task.IsCompleted)
                {@Html.ActionLink("Mark as not completed!", "MarkTaskAsCompleted", "Developer", new { taskId = task.Id, IsComp = false }, null)}
            else
            { @Html.ActionLink("Mark as completed!", "MarkTaskAsCompleted", "Developer", new { taskId = task.Id, IsComp = true }, null)} @if (task.IsCompleted)
                {@Html.ActionLink("Add Comment", "AddComment", "Developer", new { id = task.Id }, null)}
        </li>
    }
    </ul>
}
