@model List<Affinity.Models.Task>
@{
    ViewBag.Title = "ViewAllTasks";
}

<div class="jumbotron">
    <h1>Developer DashBoard</h1>
</div>

@if (Model.Count != 0)
{
        <div class="row">
            <ul style="        display: inline-block;
                border: 1px solid #dc6a6a;
                background-color: #dc6a6a">
                @foreach (var task in Model)
                {
                    if (task.Notifications.Count != 0)
                    {
                        foreach (var notif in task.Notifications)
                        {
                            if (notif.TaskId != null && notif.IsDeadlineNotif == true && notif.IsWatched == false)
                            {
                                <li style="list-style:none">
                                    @Html.ActionLink(notif.NotificationDetails + "(" + task.Name + ")", "MarkNotificationAsWatched", new { notificationId = notif.Id, taskId = task.Id })
                                </li>
                            }
                        }
                    }
                }
            </ul>

            <h4>Here are all your tasks.</h4>
            <h5>Sort by Priority: @Html.ActionLink("High to Low", "Index", new { sortingOrder = "HighToLow" }, null)  | @Html.ActionLink("Low to High", "Index", new { sortingOrder = "LowToHigh" }, null)  </h5>

            
                @foreach (var task in Model)
                {
                    
        <div class="col-md-4">
            <h2>@task.Name</h2>
            <p>
                Task Completion Percentage: @task.CompletedPercentage
            </p>
            <p>Task Added Time: @task.Time</p>
            <p><a class="btn btn-default" href=@Url.Action("UpdateTaskPercentage", "Developer", new { id = task.Id }, null)>Update Task Percentage &raquo;</a></p>
            @if (task.IsCompleted)
            {
                <p><a class="btn btn-default" href=@Url.Action("MarkTaskAsCompleted", "Developer", new { taskId = task.Id, IsComp = false }, null)>Mark Task as UnCompleted &raquo;</a></p>
                <p><a class="btn btn-default" href=@Url.Action("AddComment", "Developer", new { taskId = task.Id }, null)>Add Comment &raquo;</a></p>
            }
            else
            {
                <p><a class="btn btn-default" href=@Url.Action("MarkTaskAsCompleted", "Developer", new { taskId = task.Id, IsComp = true }, null)>Mark Task as Completed &raquo;</a></p>
            }
            <p><a class="btn btn-default" href=@Url.Action("AddANote", "Developer", new { taskId = task.Id }, null)>Add A Note &raquo;</a></p>
        </div>
                }

        </div>
 }