@model IEnumerable<Affinity.Models.Task>
    @{
        ViewBag.Title = "GetAllTasksByProject";
    }

    <h2>Tasks</h2>
    <p>
        @Html.ActionLink("Hide completed Tasks", "HideCompletedTask") | @Html.ActionLink("Sort According Completed Percentage", "GetAllTasksByProject", new {proId = (int)ViewBag.ProjectId, sort = "SortAccordingCompletionPercentage" }, null)
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Tasks", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Tasks", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete","Tasks", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
