@model IEnumerable<Affinity.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Project Manager Dashboard</h2>

<h4>You have @ViewBag.NumberOfNotif notifications</h4>
<h4>@Html.ActionLink("View Notifications", "NotificationsPage", "ProjectManager")</h4>

<h4>@Html.ActionLink("Create a new task.", "Create", "Tasks")</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.ActionLink("Show All Tasks", "GetAllTasksByProject", new { proId = item.Id }, null)  |
                @Html.ActionLink("Mark Project as Completed", "MarkProjectAsCompleted", new { projectId = item.Id }, null) |
                @Html.ActionLink("Show Budget", "ShowBudgetForProject", "Budgets", new { proId = item.Id }, null)
            </td>
        </tr>
    }

</table>

<h5>@Html.ActionLink("All tasks passed deadline", "AllUnfinishedTasksAfterDeadline", "ProjectManager")</h5>