
@{
    ViewBag.Title = "Index";
}

<h2>Admin DashBoard</h2>

<h3>@Html.ActionLink("Show all Users.","AllUsers", "Admin")</h3>

<h3>@Html.ActionLink("Show all Roles in this System", "ShowAllRoles", "Admin")</h3>

<h3>@Html.ActionLink("Add a role to the System", "CreateRole", "Admin")</h3>

<h3>@Html.ActionLink("Add user to a role", "AddUserToRole", "Admin")</h3>

<h3>@Html.ActionLink("Remove user from a role", "RemoveUserFromRole", "Admin")</h3>

<h3>@Html.ActionLink("Delete a role", "DeleteRole", "Admin")</h3>